@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Courgette&family=Indie+Flower&family=Merienda&family=Neucha&family=Satisfy&display=swap');

:root{
  --first-font: 'Architects Daughter', cursive;
  --second-font: 'Courgette', cursive;
  --third-font: 'Indie Flower', cursive;
  --fourth-font: 'Merienda', cursive;
  --fifth-font: 'Neucha', cursive;
  --seventh-font: 'Satisfy', cursive;
  --green: #213b1b;
  --light-green: #56903a;
  --brown: #6f4930;
  --light-brown: #c56c39;
}
*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

#imgPark{
  width:50%;
  height: 100%;
  align-self: center;
}

#logo{
  width: 40px;
  padding: 10px;
}

#stateUS{
  padding: 30px;
}

#activity{
  padding: 30px;
}

.parkByState{
  display: flex;
  flex-direction: row;
  margin : 80px;
}

.textPark{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  margin-left: 10px;
}

.navBar{
  background-color: var(--light-green);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  align-items: center;
  padding-left: 30px;
  z-index:1;
}

h1{
  font-family: var(--seventh-font);
  text-align: center;
  font-size: 60px;
  padding-top: 120px;
  margin-bottom: 60px;
}

#linkHome{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: var(--fourth-font);
  padding-right: 50px;
}

#buttonState{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 200px;
  padding: 40px;
  margin-bottom: 20px;
  border: none;
  background-color: var(--green);
  color: white;
  font-weight: bold;
  font-size: 16px;
}

#buttonActivity{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 200px;
  padding: 40px;
  border: none;
  background-color: var(--green);
  color: white;
  font-weight: bold;
  font-size: 16px;
}

#namePark{
  text-decoration: none;
}

.h2SelectActivity{
  padding-top:0;
}

.main{
  position:relative;
  min-height:100%;
}

.footer{
  background-color: var(--brown);
  display:flex;
  flex-direction:row;
  height:72px;
  justify-content:space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  width:100%;
  z-index: 1;
  text-align: center;
}

.textFooter{
  width:40%;
  margin-top:15px;
  font-family:var(--seventh-font);
  color:white;
}

#imgFooter1{
  height:98%;
  margin-top:-1%;
}

#imgFooter2{
  width:auto;
  height:60%;
  margin-top:20px;
  margin-left:-9%;
}

#imgFooter3{
  width:auto;
  height:70%;
  margin-top:15px;
  margin-left:-8%;
}

#imgFooter4{
  width:auto;
  height:60%;
  margin-top:15px;
  margin-right:-9%;
}

#imgFooter5{
  width:auto;
  height:65%;
  margin-top:15px;
  margin-right:-7%;
  background-color: var(--brown);
}

.infoDiv{
  display: flex;
  width: 60%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2{
  text-align: center;
  padding-top: 120px;
  padding-bottom: 40px;
}

.leaflet-container{
  width: 400px;
  height: 300px;
  margin-bottom: 30px;
  z-index: 0;
}

h3{
  margin-top: 30px;
}

.infoDiv > p{
  margin-top: 20px;
  margin-bottom: 20px;
}

.mapAndDirection{
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: space-around;
  margin-bottom: 120px;
}

.textDirection{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 70%;
}

.imageSlider{
  width: 100%;
  height: 100%;
  object-fit:contain;
}

.slider{
  width: 600px;
  height: 600px;
}

.divContainer{
  max-width: 1000px;
  max-height: 500px;
  display: flex;
  margin: auto;
  overflow:hidden;
}

.h2SelectActivity{
  padding-top:0;
}

/*responsive*/

@media screen and (max-width: 425px) {
  #imgFooter2,#imgFooter3,#imgFooter4,#imgFooter5
  {
    display:none;
  }
  #imgFooter1{
    margin-top:-1.5%;
    margin-left:1px!important;
  }
  .footer{
    width:100%;
    max-width:425px;
    margin-top:2px;
  }
  .textFooter{
    margin-left:9%;
    margin-top:1px!important;
    width:60%!important;
  }

  .parkByState{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}

@media screen and (max-width:768px) {
  #imgFooter3,#imgFooter4{
    display:none;
  }
  .footer{
    width:100%;
    max-width:768px;
  }
  #imgFooter1{
    margin-left:-3%;
  }
  #imgFooter2{
    width: auto;
    height: 60%;
    margin-top: 20px;
    margin-left: -7%;
  }
  .textFooter{
    margin-top:1px!important;
    width:45%;
  }
}

